<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.goochou.p2b">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean id="settings" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
           <list>
				<value>classpath:conf/resources.properties</value>
			</list>
        </property>
    </bean>
	
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="settings" />
	</bean>
	
	<!-- 牛只订单生成器 -->
	<bean name="bullsOrderIdGenerator" class="com.goochou.p2b.model.idGenerator.OrderIdGenerator">
		<constructor-arg name="prefix" value="${id.order.bulls.prefix}"></constructor-arg>
		<constructor-arg name="max" value="${id.order.bulls.max}"></constructor-arg>
		<constructor-arg name="date_exp" value="${id.order.bulls.date_exp}"></constructor-arg>
	</bean>
	<!-- 商城订单生成器 -->
	<bean name="goodsOrderIdGenerator" class="com.goochou.p2b.model.idGenerator.OrderIdGenerator">
		<constructor-arg name="prefix" value="${id.order.goods.prefix}"></constructor-arg>
		<constructor-arg name="max" value="${id.order.goods.max}"></constructor-arg>
		<constructor-arg name="date_exp" value="${id.order.goods.date_exp}"></constructor-arg>
	</bean>
	
	<!-- 异常实现 -->
	<bean name="exception" class="com.goochou.p2b.exception.ExceptionImpl" />
    
    <!-- MEMCACHED 缓存 -->
	<!-- <bean id="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder"
		p:connectionPoolSize="${memcached.connectionPoolSize}" p:failureMode="${memcached.failureMode}">
		<constructor-arg>
			<list>
				<bean class="java.net.InetSocketAddress">
					<constructor-arg>
						<value>${memcached.server1.host}</value>
					</constructor-arg>
					<constructor-arg>
						<value>${memcached.server1.port}</value>
					</constructor-arg>
				</bean>
			</list>
		</constructor-arg>
		<constructor-arg>
			<list>
				<value>${memcached.server1.weight}</value>
			</list>
		</constructor-arg>
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.TextCommandFactory" />
		</property>
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator" />
		</property>
		<property name="transcoder">
			<bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
		</property>
	</bean>-->
	<!-- Use factory bean to build memcached client -->
	<!-- <bean id="memcachedClient" factory-bean="memcachedClientBuilder"
		factory-method="build" destroy-method="shutdown" /> -->
	
	<bean id="appConfig" class="com.goochou.p2b.utils.PropertiesConfiguration" >
		<property name="config">
			<props>
			</props>
		</property>
	</bean>
</beans>