<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goochou.p2b.dao.HongbaoMapper">

  <resultMap id="BaseResultMap" type="com.goochou.p2b.model.Hongbao">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="limit_amount" jdbcType="INTEGER" property="limitAmount" />
    <result column="limit_day" jdbcType="INTEGER" property="limitDay" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
    <result column="redeem_id" jdbcType="INTEGER" property="redeemId" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="activity_detail_id" jdbcType="INTEGER" property="activityDetailId" />
    <result column="trigger_type" jdbcType="INTEGER" property="triggerType" />
    <result column="other_id" jdbcType="INTEGER" property="otherId" />
    <association column="template_id" property="hongbaoTemplate" select="com.goochou.p2b.dao.HongbaoTemplateMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    id, user_id, type, amount, limit_amount, limit_day, source, descript, send_time,
    expire_time, use_time, redeem_id, template_id, admin_id, activity_detail_id, trigger_type,
    other_id
  </sql>
  <select id="selectByExample" parameterType="com.goochou.p2b.model.HongbaoExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hongbao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart&gt;-1">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    select
    <include refid="Base_Column_List" />
    from hongbao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    delete from hongbao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.goochou.p2b.model.HongbaoExample">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    delete from hongbao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.goochou.p2b.model.Hongbao" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 18 14:39:47 CST 2019.
    -->
    insert into hongbao (id, user_id, type,
    amount, limit_amount, limit_day,
    source, descript, send_time,
    expire_time, use_time, redeem_id,
    template_id, admin_id, activity_detail_id,
    trigger_type, other_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
    #{amount,jdbcType=DOUBLE}, #{limitAmount,jdbcType=INTEGER}, #{limitDay,jdbcType=INTEGER},
    #{source,jdbcType=INTEGER}, #{descript,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP},
    #{expireTime,jdbcType=TIMESTAMP}, #{useTime,jdbcType=TIMESTAMP}, #{redeemId,jdbcType=INTEGER},
    #{templateId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{activityDetailId,jdbcType=INTEGER},
    #{triggerType,jdbcType=INTEGER}, #{otherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.goochou.p2b.model.Hongbao">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    insert into hongbao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="limitAmount != null">
        limit_amount,
      </if>
      <if test="limitDay != null">
        limit_day,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="useTime != null">
        use_time,
      </if>
      <if test="redeemId != null">
        redeem_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="activityDetailId != null">
        activity_detail_id,
      </if>
      <if test="triggerType != null">
        trigger_type,
      </if>
      <if test="otherId != null">
        other_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="limitAmount != null">
        #{limitAmount,jdbcType=INTEGER},
      </if>
      <if test="limitDay != null">
        #{limitDay,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redeemId != null">
        #{redeemId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="activityDetailId != null">
        #{activityDetailId,jdbcType=INTEGER},
      </if>
      <if test="triggerType != null">
        #{triggerType,jdbcType=INTEGER},
      </if>
      <if test="otherId != null">
        #{otherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.goochou.p2b.model.HongbaoExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    select count(*) from hongbao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    update hongbao
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.limitAmount != null">
        limit_amount = #{record.limitAmount,jdbcType=INTEGER},
      </if>
      <if test="record.limitDay != null">
        limit_day = #{record.limitDay,jdbcType=INTEGER},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.descript != null">
        descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null">
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expireTime != null">
        expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useTime != null">
        use_time = #{record.useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.redeemId != null">
        redeem_id = #{record.redeemId,jdbcType=INTEGER},
      </if>
      <if test="record.templateId != null">
        template_id = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.activityDetailId != null">
        activity_detail_id = #{record.activityDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.triggerType != null">
        trigger_type = #{record.triggerType,jdbcType=INTEGER},
      </if>
      <if test="record.otherId != null">
        other_id = #{record.otherId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    update hongbao
    set id = #{record.id,jdbcType=INTEGER},
    user_id = #{record.userId,jdbcType=INTEGER},
    type = #{record.type,jdbcType=INTEGER},
    amount = #{record.amount,jdbcType=DOUBLE},
    limit_amount = #{record.limitAmount,jdbcType=INTEGER},
    limit_day = #{record.limitDay,jdbcType=INTEGER},
    source = #{record.source,jdbcType=INTEGER},
    descript = #{record.descript,jdbcType=VARCHAR},
    send_time = #{record.sendTime,jdbcType=TIMESTAMP},
    expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
    use_time = #{record.useTime,jdbcType=TIMESTAMP},
    redeem_id = #{record.redeemId,jdbcType=INTEGER},
    template_id = #{record.templateId,jdbcType=INTEGER},
    admin_id = #{record.adminId,jdbcType=INTEGER},
    activity_detail_id = #{record.activityDetailId,jdbcType=INTEGER},
    trigger_type = #{record.triggerType,jdbcType=INTEGER},
    other_id = #{record.otherId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.goochou.p2b.model.Hongbao">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    update hongbao
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="limitAmount != null">
        limit_amount = #{limitAmount,jdbcType=INTEGER},
      </if>
      <if test="limitDay != null">
        limit_day = #{limitDay,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redeemId != null">
        redeem_id = #{redeemId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="activityDetailId != null">
        activity_detail_id = #{activityDetailId,jdbcType=INTEGER},
      </if>
      <if test="triggerType != null">
        trigger_type = #{triggerType,jdbcType=INTEGER},
      </if>
      <if test="otherId != null">
        other_id = #{otherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goochou.p2b.model.Hongbao">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 21 15:27:43 CST 2019.
    -->
    update hongbao
    set user_id = #{userId,jdbcType=INTEGER},
    type = #{type,jdbcType=INTEGER},
    amount = #{amount,jdbcType=DOUBLE},
    limit_amount = #{limitAmount,jdbcType=INTEGER},
    limit_day = #{limitDay,jdbcType=INTEGER},
    source = #{source,jdbcType=INTEGER},
    descript = #{descript,jdbcType=VARCHAR},
    send_time = #{sendTime,jdbcType=TIMESTAMP},
    expire_time = #{expireTime,jdbcType=TIMESTAMP},
    use_time = #{useTime,jdbcType=TIMESTAMP},
    redeem_id = #{redeemId,jdbcType=INTEGER},
    template_id = #{templateId,jdbcType=INTEGER},
    admin_id = #{adminId,jdbcType=INTEGER},
    activity_detail_id = #{activityDetailId,jdbcType=INTEGER},
    trigger_type = #{triggerType,jdbcType=INTEGER},
    other_id = #{otherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getTodayHongbao" resultType="double">
        SELECT SUM(amount)
        FROM hongbao
        WHERE DATEDIFF(NOW(), use_time) &lt;= limit_day AND user_id = #{userId} AND
              DATEDIFF(expire_time, use_time) &gt;= 0 AND type = 0
    </select>

    <select id="getUsingInterestHongbaoForApp" parameterType="int" resultMap="BaseResultMap">
        SELECT *
        FROM hongbao
        WHERE type = 0 AND source = 1 AND user_id = #{userId} AND (TO_DAYS(DATE_ADD(use_time, INTERVAL limit_day DAY)) - 1) &gt;= TO_DAYS(NOW())
        ORDER BY send_time DESC
        LIMIT #{start}, #{limit}
    </select>

    <select id="getUsingInterestHongbaoCountForApp" parameterType="int" resultType="int">
        SELECT count(id)
        FROM hongbao
        WHERE type = 0 AND source = 1 AND user_id = #{userId} AND (TO_DAYS(DATE_ADD(use_time, INTERVAL limit_day DAY)) - 1) &gt;= TO_DAYS(NOW())
    </select>


    <select id="query" parameterType="map" resultType="map">
        select i.id, i.user_id
        ,i.amount,i.send_time,i.use_time,i.expire_time,i.type,i.source,i.descript,i.use_time,u.phone,u.username,u.true_name
        trueName from hongbao i
        STRAIGHT_JOIN user u on i.user_id=u.id 
        <if test="adminId != null ">
			inner join admin_responsible 
				on admin_responsible.admin_id=${adminId} 
				and admin_responsible.department_id=u.department_id
	    </if>
	    <if test="departmentId != null">
	    	inner join department_relation
				on department_relation.department_id=${departmentId} 
				and department_relation.sub_department_id=u.department_id
	    </if>
	    where u.status=0
        <if test="keyword != null">
            and (u.username like '%${keyword}%' or u.true_name like '%${keyword}%' or u.phone like '%${keyword}%')
        </if>
        <if test="type == 1 or type ==2 or type ==3 or type ==4">
            and i.type=#{type}
        </if>
        <if test="startSendTime != null">
	  		and i.send_time &gt;= #{startSendTime}
	  	</if>
	  	<if test="endSendTime != null">
	  		and i.send_time &lt; #{endSendTime}
	  	</if>
        <if test="startUseTime != null">
            and i.use_time &gt;= #{startUseTime}
        </if>
        <if test="endUseTime != null">
            and i.use_time &lt; #{endUseTime}
        </if>
        <if test="application == 1">
            and i.use_time is not null
        </if>
        <if test="application == 0">
            and i.use_time is null
        </if>
        order by i.send_time desc
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="queryCount" parameterType="map" resultType="int">

      select count(1)
      trueName from hongbao i
      STRAIGHT_JOIN user u on i.user_id=u.id 
      <if test="adminId != null ">
			inner join admin_responsible 
				on admin_responsible.admin_id=${adminId} 
				and admin_responsible.department_id=u.department_id
	    </if>
	    <if test="departmentId != null">
	    	inner join department_relation
				on department_relation.department_id=${departmentId} 
				and department_relation.sub_department_id=u.department_id
	    </if>
      
      where u.status=0
      <if test="keyword != null">
        and (u.username like '%${keyword}%' or u.true_name like '%${keyword}%' or u.phone like '%${keyword}%')
      </if>
      <if test="type == 1 or type ==2 or type ==3 or type ==4">
        and i.type=#{type}
      </if>
      <if test="startSendTime != null">
        and i.send_time &gt;= #{startSendTime}
      </if>
      <if test="endSendTime != null">
        and i.send_time &lt; #{endSendTime}
      </if>
      <if test="startUseTime != null">
        and i.use_time &gt;= #{startUseTime}
      </if>
      <if test="endUseTime != null">
        and i.use_time &lt; #{endUseTime}
      </if>
      <if test="application == 1">
        and i.use_time is not null
      </if>
      <if test="application == 0">
        and i.use_time is null
      </if>
    </select>

    <select id="selectEffective" parameterType="int" resultType="int">
        select * from hongbao where expire_time&gt;NOW() and use_time is null and user_id=#{userId}
        <if test="start != null and limit != null">
            limit #{start},#{limit} ;
        </if>
    </select>

    <select id="selectEffectiveCount" parameterType="map" resultType="int">
        SELECT count(*)
        FROM hongbao
        WHERE expire_time &gt; NOW() AND use_time IS NULL AND user_id = #{userId};
    </select>


    <select id="selectInvestmentHongbaoMessage" resultType="string">
        SELECT DISTINCT u.phone
        FROM hongbao h
            LEFT JOIN user u ON u.id = h.user_id
        WHERE h.type = 2 AND h.application = 0 AND h.use_time IS NULL AND
              DATE_FORMAT(h.expire_time, '%y-%m-%d') = DATE_ADD(CURDATE(), INTERVAL 2 DAY)
    </select>


    <select id="getHongbaoInverstmentCount" parameterType="map" resultType="int">
        select count(*)
		from hongbao where 1 = 1
        <if test="userId != null">
            and user_id=#{userId}
        </if>
        <if test="status != null">
        	<if test="status == 0">
                and use_time is null and expire_time &gt; NOW()
            </if>
            <if test="status == 1">
                and use_time is not null
            </if>
            <if test="status == 2">
                and NOW() &gt; expire_time
            </if>
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="limitAmount != null">
            and limit_amount &lt;= #{limitAmount}
        </if>
        <if test="limitDay != null">
            and limit_day &lt;= #{limitDay}
        </if>
    </select>


    <select id="getHongbaoInverstmentList" parameterType="map" resultMap="BaseResultMap">
        select
		<include refid="Base_Column_List" />
		from hongbao where 1 = 1
        <if test="userId != null">
            and user_id=#{userId}
        </if>
        <if test="status != null">
        	<if test="status == 0">
                and use_time is null and expire_time &gt; NOW()
            </if>
            <if test="status == 1">
                and use_time is not null
            </if>
            <if test="status == 2">
                and NOW() &gt; expire_time
            </if>
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="limitAmount != null">
            and limit_amount &lt;= #{limitAmount}
        </if>
        <if test="limitDay != null">
            and limit_day &lt;= #{limitDay}
        </if>
        order by amount desc,expire_time
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getInverstmentHongbaoList" parameterType="map" resultType="map">
        select h.id,h.user_id userId,h.type,h.amount,h.limit_amount
        limitAmount,h.source,h.application,h.descript,h.send_time sendTime,h.expire_time expireTime,ht.month_type
        monthType from hongbao h
        left join hongbao_template ht on h.template_id=ht.id
        where h.type=2
        <if test="userId != null">
            and user_id=#{userId}
        </if>
        and h.use_time is null and h.expire_time &gt; NOW() order by h.expire_time
    </select>


    <select id="getInverstmentHongbaoCount" parameterType="int" resultType="int">
        select count(*) from hongbao h
        where h.type=2
        <if test="userId != null">
            and h.user_id=#{userId}
        </if>
        and h.use_time is null and h.expire_time &gt; NOW()
    </select>

    <select id="webListInvestHb" parameterType="int" resultType="map">
        SELECT
            hb.*,
            hbt.month_type
        FROM hongbao hb, hongbao_template hbt
        WHERE hb.user_id = #{userId} AND hb.template_id = hbt.id
              AND hb.type = 2 AND hb.use_time IS NULL AND TO_DAYS(NOW()) &lt;= TO_DAYS(hb.expire_time)
    </select>

    <select id="selectUserUseList" parameterType="map" resultType="map">
        select h.*,u.true_name,hr.redeem_code,u.id userId,u.phone,hr.id redeemId
        from hongbao h
        left join user u on h.user_id=u.id
        left join hongbao_redeem hr on hr.id=h.redeem_id
        where 1=1
        <if test="type != null">
            and h.type=#{type}
        </if>
        <if test="redeemId != null">
            and hr.id=#{redeemId}
        </if>
        <if test="isUse != null">
            <if test="isUse == 0">
                and h.use_time is null
            </if>
            <if test="isUse == 1">
                and h.use_time is not null
            </if>
        </if>
        <if test="keyword != null">
            and (u.username like '%${keyword}%' or u.true_name like '%${keyword}%' or u.phone like '%${keyword}%')
        </if>
        order by h.expire_time desc
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="selectUserUseCount" parameterType="map" resultType="int">
        select count(1)
        from hongbao h
        STRAIGHT_JOIN hongbao_redeem hr on hr.id=h.redeem_id
        where 1=1
        <if test="type != null">
            and h.type=#{type}
        </if>
        <if test="redeemId != null">
            and hr.id=#{redeemId}
        </if>
        <if test="isUse != null">
            <if test="isUse == 0">
                and h.use_time is null
            </if>
            <if test="isUse == 1">
                and h.use_time is not null
            </if>
        </if>
        <if test="keyword != null">
            and h.user_id in (select id from `user` where username like '%${keyword}%' or true_name like '%${keyword}%' or phone like '%${keyword}%')
        </if>
    </select>

    <select id="selectReportHongbaoUseList" parameterType="map" resultType="map">
        select i.*,h.amount
        hongbaoAmount,h.limit_amount,h.descript,u.true_name,u.phone,p.limit_days,p.annualized,h.send_time,h.expire_time,hr.use_count,hr.redeem_code,u.register_time,h.use_time
        from investment i
        left join project p on p.id=i.project_id
        left join user u on u.id=i.user_id
        left join hongbao h on h.id=i.hongbao_id
        left join hongbao_redeem hr on h.redeem_id=hr.id
        where i.hongbao_id is not null
        <if test="startTime != null and endTime != null">
            and DATE_FORMAT(i.time,'%Y-%m-%d') between date_format(#{startTime},'%Y-%m-%d') and
            date_format(#{endTime},'%Y-%m-%d')
        </if>
        <if test="startTime != null and endTime == null">
            and DATE_FORMAT(i.time,'%Y-%m-%d') between date_format(#{startTime},'%Y-%m-%d') and
            date_format(now(),'%Y-%m-%d')
        </if>
        <if test="startTime == null and endTime != null">
            and DATE_FORMAT(i.time,'%Y-%m-%d') &lt; date_format(#{endTime},'%Y-%m-%d')
        </if>

    </select>

    <insert id="saveHongbaoList" parameterType="map">

        insert into hongbao (user_id, type,amount, limit_amount, limit_day, source, descript, send_time,
        expire_time,template_id, admin_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item}, #{type}, #{templateAmount}
            ,#{templateLimitAmount},#{limitDay},0,#{descript},#{sendTime},#{expireTime},#{template_id}, #{adminId})
        </foreach>

    </insert>


    <select id="findHongbao" parameterType="map" resultType="map">
        SELECT *
        FROM hongbao hb
        WHERE date_format(hb.send_time, '%Y-%m-%d') = date_format(CURRENT_DATE(), '%Y-%m-%d') AND amount = #{amount} AND user_id = #{userId}
              AND descript = #{descript}

    </select>


    <insert id="saveToUserCashHongbao" parameterType="map">
        insert into hongbao (user_id, type,amount, limit_day, source, descript, send_time,
        expire_time, admin_id,limit_amount)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, 1, #{item.amount}, ${limitDay}
            ,0,#{descript},#{sendTime},#{expireTime}, #{adminId},0)
        </foreach>

    </insert>


    <select id="unUserSum" parameterType="map" resultType="map">
        select sum(amount) s from hongbao i where i.user_id in (
        	select user.id from `user` 
        	<if test="adminId != null ">
				inner join admin_responsible 
					on admin_responsible.admin_id=${adminId} 
					and admin_responsible.department_id=user.department_id
		    </if>
		    <if test="departmentId != null">
		    	inner join department_relation
					on department_relation.department_id=${departmentId} 
					and department_relation.sub_department_id=user.department_id
		    </if>
        	where user.status=0
        <if test="keyword != null">
            and (user.username like '%${keyword}%' or user.true_name like '%${keyword}%' or user.phone like '%${keyword}%')
        </if>
        )
        <if test="application == 0">
            and i.use_time is null
        </if>
        <if test="application == 1">
            and i.use_time is not null
        </if>
        <if test="type == 1 or type ==2">
            and i.type=#{type}
        </if>
        <if test="startSendTime != null">
            and i.send_time &gt;= #{startSendTime}
        </if>
        <if test="endSendTime != null">
            and i.send_time &lt; #{endSendTime}
        </if>
        <if test="startUseTime != null">
            and i.use_time &gt;= #{startUseTime}
        </if>
        <if test="endUseTime != null">
            and i.use_time &lt; #{endUseTime}
        </if>


    </select>


    <select id="getHongbaodAmountByMonth" parameterType="map" resultType="map">
        SELECT
            sum(CASE WHEN type = 2
                THEN amount
                ELSE 0 END) tzhb,
            sum(CASE WHEN type = 1
                THEN amount
                ELSE 0 END) xjhb
        FROM hongbao
        WHERE use_time IS NOT NULL AND date_format(use_time, '%Y-%m') = date_format(#{date }, '%Y-%m')
    </select>
    <select id="queryByRedeemId" parameterType="int" resultType="com.goochou.p2b.model.Hongbao">
    select * from hongbao where redeem_id = #{redeemId} ORDER by id desc limit 20
    </select>

    <select id="sumHongBaoAmountByOption" parameterType="map" resultType="map">

		select sum(amount) sum from hongbao
		where user_id = #{userId}
            and type = #{type}
            and send_time &gt;= #{beginTime}
            and send_time &lt;= #{endTime}
            and amount in(28, 88)
	</select>

    <select id="selectBestHongbao" parameterType="map" resultMap="BaseResultMap">
        SELECT h.id,h.amount,h.limit_amount,h.type FROM hongbao h
        LEFT JOIN hongbao_template ht ON h.template_id=ht.id
        WHERE h.use_time IS NULL
        AND h.expire_time&gt;NOW()
        AND h.limit_amount &lt;= #{amount}
        <if test="limitDays != null">
            AND CASE WHEN h.type =2 THEN ht.month_type &lt;= #{limitDays} ELSE h.type =1 END
        </if>
        AND user_id =#{userId}
        ORDER BY amount DESC,expire_time,limit_amount
    </select>

	<select id="queryExpireHongbaoAfterSomeDay" parameterType="map" resultType="map">
		select amount, user_id, token from (
		select amount, user_id, token from hongbao h, user u where u.id = h.user_id and h.type = #{type} AND h.use_time IS NULL AND
		              DATE_FORMAT(h.expire_time, '%y-%m-%d') = DATE_ADD(CURDATE(), INTERVAL #{afterDay} DAY) ORDER BY amount desc ) t
		GROUP BY t.user_id
	</select>

    <select id="getInviteRecord" parameterType="map" resultType="map">
        SELECT t2.*,CONCAT(SUBSTRING(u.phone, 1, 3), '**', SUBSTRING(u.phone,CHAR_LENGTH(phone)-3, 4)) phone
        FROM (
        SELECT user_id,SUM(award_amount) amount
        FROM (
        SELECT ui.user_id,award_amount FROM user_invite ui , user_invite_detail uid WHERE ui.id = uid.ui_id
        AND uid.status=1
        UNION ALL
        SELECT user_id,amount FROM hongbao WHERE TYPE = 1 AND
        CASE WHEN source IN (0,1) THEN descript = '双重壕礼' ELSE source IN (1001,1003) END
        ) t LEFT JOIN USER u ON t.user_id=u.id
        GROUP BY user_id) t2
        LEFT JOIN USER u ON t2.user_id=u.id
        where u.phone != 13552549000 <!-- 傻X用户要求过滤自己 -->
        <if test="userId!=null">
            and user_id=#{userId}
        </if>
        ORDER BY amount DESC
        <if test="limit!=null">
            limit ${limit}
        </if>
    </select>

    <select id="getMyInviteRecord" parameterType="map" resultType="map">
        SELECT u.register_time,ui.user_id,ui.invite_user_id,
        CASE WHEN t2.invite_user_id IS NULL THEN 0 ELSE 1 END status,
        CASE WHEN u.true_name IS NOT NULL THEN CONCAT(SUBSTRING(u.true_name, 1, 1), '**', SUBSTRING(u.true_name,CHAR_LENGTH(true_name), 2))
        ELSE CONCAT(SUBSTRING(u.phone, 1, 3), '**', SUBSTRING(u.phone,CHAR_LENGTH(phone)-3, 4)) END name
        FROM user_invite ui LEFT JOIN (SELECT DISTINCT(invite_user_id) FROM (SELECT * FROM (SELECT ui.*
        FROM user_invite ui ,user_invite_detail uid WHERE ui.id = uid.ui_id AND ui.user_id =#{userId}) t1
        UNION ALL
        (SELECT ui.*
        FROM user_invite ui LEFT JOIN hongbao h ON h.user_id = ui.invite_user_id
        WHERE ui.user_id =#{userId} AND h.type = 2 AND amount IN (50,100) AND descript = #{descript})
        ) t1
        ) t2 ON ui.invite_user_id = t2.invite_user_id
        LEFT JOIN USER u ON ui.invite_user_id=u.id
        WHERE ui.user_id = #{userId}
        ORDER BY register_time DESC
        <if test="start ==null and limit!=null">
            limit ${limit}
        </if>

        <if test="start !=null and limit!=null">
            limit ${start},${limit}
        </if>
    </select>

    <select id="queryUserCanUseHongbao" parameterType="map" resultMap="BaseResultMap">
    	select * from hongbao where user_id = #{userId} and source = #{source} and use_time is null and expire_time &gt;= now()
    </select>
    <select id="getAwardHbAmount" parameterType="int" resultType="Double">
      SELECT IFNULL(SUM(amount),0.00) FROM hongbao WHERE source=1006 AND user_id=#{userId} AND send_time&gt;=(SELECT create_time FROM user_invest_config WHERE `status`='create' AND user_id=#{userId} limit 1);
    </select>

    <update id="update" parameterType="com.goochou.p2b.model.Hongbao">
    update hongbao
    <set>
      <if test="useTime != null">
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER} and use_time is null
  </update>

  <select id="queryInviteUsersToInvest" parameterType="int" resultType="map">
    SELECT
      t1.amount,
      date_format(t1.send_time, '%Y-%m-%d %H:%i:%S') send_time,
      date_format(t1.expire_time, '%Y-%m-%d %H:%i:%S') expire_time,
      date_format(t1.use_time, '%Y-%m-%d %H:%i:%S') use_time,
      t5.true_name,
      t5.phone,
      t1.descript
    FROM
      hongbao t1
      INNER JOIN activity t2
        ON t2.id = t1.source  AND t2.status = 1
      INNER JOIN activity_detail t3
        ON t3.id = t1.activity_detail_id AND t3.trigger_type IN (2)
      INNER JOIN investment t4
        ON t4.id = t1.other_id
      INNER JOIN `user` t5
        ON t5.id = t4.user_id
    WHERE t1.user_id = #{userId}  AND t1.type=1
    order by  t1.send_time asc
  </select>


  <select id="queryInviteTotalAmount" parameterType="map" resultType="double">
    SELECT
      IFNULL(sum(t1.amount), 0) amount
    FROM
      hongbao t1
      INNER JOIN activity t2
        ON t2.id = t1.source  AND t2.status = 1
      INNER JOIN activity_detail t3
        ON t3.id = t1.activity_detail_id
      INNER JOIN investment t4
        ON t4.id = t1.other_id
    WHERE t1.user_id = #{userId}
    <if test="types != '' and types != null">
      AND t1.type IN (${types})
    </if>
    <if test="triggerTypes != '' and triggerTypes != null">
      AND t3.trigger_type IN (${triggerTypes})
    </if>
  </select>

</mapper>
